*,
*:before,
*:after {
  box-sizing: border-box;
}

.profile {
  padding: 0 15% 5em;
}

.profile_header {
  display: flex;
  flex-direction: column;
}
.profile_title {
  text-align: center;
  color: #38618c;
}
.profile_subtitle {
  color: #88e8f2;
  text-align: center;
}

.profile_body {
  display: flex;
  justify-content: space-around;
}

.profile_picture {
  border-radius: 100%;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.rateBox {
  display: flex;
  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #38618c;
  border-radius: 10px;
  height: fit-content;
  align-self: center;
}

.rateBox_text {
  font-weight: 600;
  font-size: 4em;
}

.rateBox_star {
  height: 70px;
  width: 70px;
  align-self: center;
}

.score {
  display: flex;
  justify-content: space-around;
}

.score_item {
  align-content: center;
  font-size: 1.3em;
  padding: 2em 0;
}

/* Hasta este punto corregidos los estilos */

.services li {
  font-size: 1.2em;
}
.services h2 {
  color: #38618c;
}

/* Calificación, nuevos comentarios */
.providers__comment--span {
  font-size: 1.2em;
  justify-items: center;
  text-align: center;
}
.providers__comment {
  border: 1px rgba(0, 0, 0, 0.2) solid;
  padding: 20px;
  border-radius: 10px;
}
.providers__comment--text {
  margin-top: 20px;
}
.providers__comment--textArea {
  width: 80%;
  height: 150px;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 10px;
}
.providers__comment--button {
  font-size: 1.2em;
  background: #35a7f0;
  padding: 0.3em 0.3em;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 0.2px;
  font-size: 1em;
  text-decoration: none;
}

/*Fin nuevo comentario*/
