*,
*:before,
*:after {
  box-sizing: border-box;
}

.providersSection {
  padding-bottom: 50px;
  padding: 20px;
}

.providers__title {
  text-align: center;
  font-size: 2em;
  color: #38618c;
}
span {
  font-size: 1.2em;
}
@media only screen and (min-width: 992px) {
  .providers__title {
    font-size: 3em;
  }
  .providers__description {
    font-size: 1.5em;
  }
}
