*,
*:before,
*:after{
  box-sizing:border-box;
}
.LandingSection__img{
  width:100%;
  height:700px;
  object-fit: cover;
  opacity: 0.3;
}
.LandingSection
{
  background-color: #1F354D;
  position: relative;
}
