*,
*:before,
*:after {
  box-sizing: border-box;
}

.profile {
  padding: 3em 15% 5em;
  background-color: #ebebeb;
}

/* Hasta este punto corregidos los estilos */

/* Calificación, nuevos comentarios */
/* .providers__comment--span {
  font-size: 1.2em;
  justify-items: center;
  text-align: center;
} */
/* .providers__comment {
  border: 1px rgba(0, 0, 0, 0.2) solid;
  padding: 20px;
  border-radius: 10px;
} */
/* .providers__comment--text {
  margin-top: 20px;
} */
/* .providers__comment--textArea {
  width: 80%;
  height: 150px;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 10px;
} */
/* .providers__comment--button {
  font-size: 1.2em;
  background: #35a7f0;
  padding: 0.3em 0.3em;
  border-radius: 5px;
  color: #fff;
  letter-spacing: 0.2px;
  font-size: 1em;
  text-decoration: none;
} */

/*Fin nuevo comentario*/
