* {
  font-family: "Open Sans";
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1 {
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-weight: 700;
  font-style: normal;
}

body,
html {
  font-weight: normal;
  font-style: normal;
  height: 100%;
}

.page-title {
  text-align: center;
  font-size: 2em;
}

.page-subtitle {
  text-align: center;
  font-size: 1.7em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0.5em 1em;
  color: #ffffff;
  background-color: rgba(56, 97, 140, 1);
}
