*,
*:before,
*:after {
  box-sizing: border-box;
}
h1 {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
}

body,
html {
  font-weight: normal;
  font-style: normal;
  height: 100%;
}

.page-title {
  text-align: center;
  font-size: 2em;
}

.page-subtitle {
  text-align: center;
  font-size: 1.7em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  width: 100%;
  padding: 1em 0.5em 1em;
  color: #fff;
  font-size: 0.8em;
  background-image: linear-gradient(
    to bottom,
    rgba(56, 97, 140, 0.5),
    rgba(56, 97, 140, 0.8),
    rgba(56, 97, 140, 1),
    rgba(56, 97, 140, 1)
  );
}
